@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 60 10% 10%;
    --card: 60 50% 95%;
    --card-foreground: 60 10% 10%;
    --popover: 60 50% 95%;
    --popover-foreground: 60 10% 10%;
    --primary: 46 65% 52%;
    --primary-foreground: 46 25% 15%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 60 10% 20%;
    --muted: 60 30% 85%;
    --muted-foreground: 60 7% 45.1%;
    --accent: 82 39% 31%;
    --accent-foreground: 82 30% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 84%;
    --ring: 46 65% 52%;
    --chart-1: 46 65% 52%;
    --chart-2: 82 39% 31%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 60 9% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 9% 98%;
    --primary: 46 65% 52%;
    --primary-foreground: 46 25% 15%;
    --secondary: 12 6% 15%;
    --secondary-foreground: 60 9% 98%;
    --muted: 12 6% 15%;
    --muted-foreground: 24 5.4% 63%;
    --accent: 82 39% 31%;
    --accent-foreground: 82 30% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9% 98%;
    --border: 12 6% 15%;
    --input: 12 6% 15%;
    --ring: 46 65% 52%;
    --chart-1: 46 65% 52%;
    --chart-2: 82 39% 31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
