@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 71% 94%;
    --foreground: 35 14% 15%;
    --card: 35 60% 97%;
    --card-foreground: 35 14% 15%;
    --popover: 35 60% 97%;
    --popover-foreground: 35 14% 15%;
    --primary: 40 86% 51%;
    --primary-foreground: 40 50% 5%;
    --secondary: 35 40% 88%;
    --secondary-foreground: 35 14% 10%;
    --muted: 35 40% 88%;
    --muted-foreground: 35 10% 45.1%;
    --accent: 142 57% 21%;
    --accent-foreground: 142 30% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 30% 80%;
    --input: 35 30% 84%;
    --ring: 40 86% 51%;
    --chart-1: 40 86% 51%;
    --chart-2: 142 57% 21%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 14% 10%;
    --foreground: 210 40% 98%;
    --card: 220 14% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 220 14% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 48 83% 54%;
    --primary-foreground: 48 93% 10%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 15% 55%;
    --accent: 170 60% 35%;
    --accent-foreground: 170 30% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9% 98%;
    --border: 220 14% 24%;
    --input: 220 14% 24%;
    --ring: 48 83% 54%;
    --chart-1: 48 83% 54%;
    --chart-2: 170 60% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
