@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 43% 97%;
    --foreground: 273 19% 21%;
    --card: 0 0% 100%;
    --card-foreground: 273 19% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 273 19% 21%;
    --primary: 273 25% 35%;
    --primary-foreground: 48 43% 98%;
    --secondary: 274 28% 94%;
    --secondary-foreground: 273 19% 21%;
    --muted: 274 28% 94%;
    --muted-foreground: 273 19% 41%;
    --accent: 274 28% 92%;
    --accent-foreground: 273 19% 21%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 274 28% 90%;
    --input: 274 28% 90%;
    --ring: 273 25% 35%;
    --chart-1: 273 25% 35%;
    --chart-2: 170 60% 35%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 273 19% 11%;
    --foreground: 274 28% 94%;
    --card: 273 19% 14%;
    --card-foreground: 274 28% 94%;
    --popover: 273 19% 11%;
    --popover-foreground: 274 28% 94%;
    --primary: 274 40% 65%;
    --primary-foreground: 273 19% 11%;
    --secondary: 273 19% 20%;
    --secondary-foreground: 274 28% 94%;
    --muted: 273 19% 20%;
    --muted-foreground: 274 20% 65%;
    --accent: 273 19% 25%;
    --accent-foreground: 274 28% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 273 19% 28%;
    --input: 273 19% 20%;
    --ring: 274 40% 65%;
    --chart-1: 274 40% 65%;
    --chart-2: 170 60% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
